body{
    font-size: 12px;
    background: #aaa;
    min-width: 1000px;
    color: black;}
p:before{
    content: "\00A0\00A0\00A0\00A0";
}
#head{
    background: #5588aa;
    min-width: 1000px;
    min-height: 50px;
    padding: 10px 20px;
    margin: 0 auto;
    height: 14vh;
    position: fixed;
    top: 0px;
    z-index: 9999;
    width: 100%;
    text-align: left;
    box-shadow: 0 5px 8px #333;

}
#logo{
    margin: 0 0;
}
#logoImg{
    height: 10vh;
}
#head li{
    margin: 1vw;
    display: inline-block;
    list-style: none;

}
#head li a{
    width: 6em;
    font-size: 125%;
    line-height: 1.8;
    text-align: center;
    display: inline-block;
    color: #999999;
    border: #5588aa 1px solid;
    border-radius: 10px;
}
#head li a:hover{
    border: #558899 1px solid;
    box-shadow: #558877 0 1px;
    text-decoration: none;
}
.navChecked{
    background: snow;
    border: snow 1px solid;
}
#main{
    background: snow;
    margin-top: 14vh;
    width: 80%;
}
#me{
    width: 100%;
    background: #777;
    padding: 50px;
}
#whoAmI{
    font-size: 150%;
    color: snow;
}
#hr1{
    width: 80%;
}
#photo img{
    width: 100%;
    border-radius: 50%;
}
#projects{
    padding: 50px;
    font-size: 150%;
    color: #333333;
    border-top: #424242 solid 2px;
    border-bottom:  #424242 solid 2px;
}
#pj{
    padding-top:20px;
}
#pj img{
    width: 45%;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: #333333 3px 3px 5px;
}
#contact{
    margin: 0 10%;
}
#contact p{
    font-size: 200%;
    margin-top: 40px;
    color: #666666;
}
.headline{
    font-size: 30px;
    color: #666666;
}
.listBox{
    list-style: none;
    margin: 40px 0;
}
.inputBox{
    font-size: 30px;
    width: 100%;
    line-height: 1.5;
    background: snow;
    color: #999999;
}
.textBox{
    position: absolute;
    color: #999999;
    font-size: 200%;
    padding-left: 30px;
    transform: translate(-6px,4px);
}
#Areat{
    font-size: 20px;
    width: 100%;
    line-height: 1.5;
    height: 150px;
    background: snow;
    resize: none;
    border: none;
}
#foot{
    width: 100%;
    margin: 0;
    color: snow;
    min-width: 1000px;
}
.roundBox{
    list-style: none;
    display: inline-block;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: snow 2px solid;
    border-radius:50% ;
    margin-left: 10px;
    transform: translate(-25px,0);
}
.roundBox:hover{
    animation: myMove 1s linear;
    color: purple;
    background: snow;
    border: purple 2px solid;

}
@keyframes myMove {
    from{
        color: snow;
        border: snow 2px solid;
    }
    to{
        color: purple;
        background: snow;
        border: purple 2px solid;
    }
}
#copy{
    background: #235e99;
}
.textBoxShift{
    animation: myMove2 300ms linear;
    position: absolute;
    transform: translate(-6px,-30px);
    color: purple;
    font-size: 100%;
    padding-left: 30px;
}
@keyframes myMove2 {
    from{
        position: absolute;
        color: #999999;
        font-size: 200%;
        padding-left: 30px;
        transform: translate(-6px,4px);
    }
    to{
        position: absolute;
        transform: translate(-6px,-30px);
        color: purple;
        font-size: 100%;
        padding-left: 30px;
    }
}
