body{
    background: lightblue;
    font-size: 16px;
}
h3{
    font-family: "Xingkai SC";
    color: red;
    margin-top: 100px;
}
h4{
    font-family: "Xingkai SC";
    color: red;
}
#main{
    margin-top: 50px;
}
li{
    display: inline-block;
    list-style: none;
    margin: 0;
}
.block{
    width: 150px;
    height: 150px;
    border: lightblue solid 2px;
    background: snow;
    margin: -3px;
}
ul{
    margin-top: -15px;
}
.cross:before{
    content: "X";
    transform: translate(-50%,35px);
    position: absolute;
    font-size: 300%;
}
.circle:before{
    content: "O";
    transform: translate(-50%,35px);
    position: absolute;
    font-size: 300%;
}
.pb{
   cursor: pointer;
}
.pb:hover{
    background: #9d9d9d;
}