<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<footer class="footer navbar-fixed-bottom text-center" style="margin: 10px">
    <hr />
    <p><a href="http://www.baidu.com/" target="_blank">Franklll</a> 2018</p>
</footer>
</body>
</html>