<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/ku/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Franklll</a>
        </div>
        <div class="row">
            <ul class="nav navbar-nav col-xs-8">
                <li><a href="#">发现</a></li>
                <li><a href="#">热门</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        快速导航
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">关注</a></li>
                        <li><a href="#">足迹</a></li>
                        <li><a href="#">随便看看</a></li>
                        <li class="divider"></li>
                        <li><a href="#">切换用户</a></li>
                        <li class="divider"></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="col-xs-3" style="display: inline-block;padding-top: 10px">
                <li class="pull-right" style="list-style: none"><a href="" class="btn btn-primary">登录</a></li>
                <li class="pull-right" style="list-style: none"><a href="" class="btn">注册</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>
