
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <form autocomplete="off" method="post">
                <div class="form-group">
                    <label for="reg_username">User Name</label>
                    <input type="text" class="form-control" name="reg_username" id="reg_username" aria-describedby="emailHelp" placeholder="User Name">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="reg_password">Password</label>
                    <input type="password" class="form-control" name="reg_password" id="reg_password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="reg_check_password">Check Password</label>
                    <input type="password" class="form-control" name="reg_check_password" id="reg_check_password" placeholder="Check Password">
                </div>
                <div class="row">
                    <div class="col-auto mr-auto">
                        <button type="submit" class="btn btn-outline-info">Submit</button>
                    </div>
                    <div class="col-auto">
                        <button type="rest" class="btn btn-outline-dark">Rest</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
