<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/ku/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/ku/jquery-3.2.1.min.js"></script>
    <script src="/ku/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/ku/bootstrap-3.3.7-dist/css/bootstrap.min.css">

  </head>
  <body>
  <%- include header %>
  <%- include footer %>
  </body>
</html>
