<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/ku/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/ku/jquery-3.2.1.min.js"></script>
    <script src="/ku/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/ku/bootstrap-3.3.7-dist/css/bootstrap.min.css">

</head>
<body>
<%- include header %>
<div id="signupCont">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-1 text-left">
            <p>用户名</p>
            <br>
            <p>密码</p>
            <br>
            <button id="submitForm2">提交</button>
        </div>
        <div class="col-xs-5 text-left">
            <input type="text" id="name" class="input-lg">
            <br>
            <br>
            <input type="password" id="psw" class="input-lg">
            <br>
            <br>
</div>
<div></div>
<%- include footer %>
</body>
</html>