  </body>
  <script src="libs/jquery-3.2.1/jquery.min.js"></script>
  <script src="libs/bootstrap-4.0.0-beta/js/popper.js"></script>
  <script src="libs/bootstrap-4.0.0-beta/js/bootstrap.min.js"></script>
</html>
